.Dropdown {
    position: relative;
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    margin-top: 50px;
}

.Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 92%;
    padding: 20px;
    text-align: center;
    background-color: aqua;
    color: white;
}